<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Protected Paste</title>
    <link rel="stylesheet" href="{{if .StaticBaseURL}}{{.StaticBaseURL}}/static/css/styles.css{{else}}/static/css/styles.css{{end}}">
</head>
<body>
    <div class="container">
        <h2>This paste is password-protected</h2>
        <form method="POST" action="/view/{{ .ID }}">
            {{ if .ErrorMessage }}
            <p class="error-message">{{ .ErrorMessage }}</p>
            {{ end }}
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">View Paste</button>
        </form>
    </div>
</body>
</html>


