<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Paste - Go Paste It</title>
    <link rel="stylesheet" href="{{if .StaticBaseURL}}{{.StaticBaseURL}}/static/css/styles.css{{else}}/static/css/styles.css{{end}}">
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Paste Content</h1>
        </header>
        <main class="paste-content">
            <div class="paste-meta">
                Created: {{.Created}}
            </div>
            {{if .Title}}
            <h1 class="paste-title">{{.Title}}</h1>
            {{end}}
            <pre id="pasteContent">{{.Content}}</pre>
            <div class="copy-button-container">
                <button onclick="copyToClipboard()">Copy to Clipboard</button>
            </div>
        </main>

        <a href="/" class="new-paste-link">Create New Paste</a>
    </div>
</body>


<script>
    function copyToClipboard() {
        var content = document.getElementById('pasteContent');
        var range = document.createRange();
        range.selectNode(content);
        window.getSelection().removeAllRanges(); // Clear current selection
        window.getSelection().addRange(range); // Select the text
        try {
            document.execCommand('copy'); // Execute the copy command
        } catch (err) {
            alert('Failed to copy!');
        }
        window.getSelection().removeAllRanges(); // Deselect
    }
</script>

</html>
